@charset "UTF-8"
/*CSS Document*/

/*样式重置(reset)*/
em { font-style:normal; }
body,p,h1,h2,h3,h4,h5,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/*end reset*/

/*公共样式(public)*/
.clear{zoom:1;}
.clear:after{content:'';clear:both;display: block;}
.fl{float: left;}
.fr{float: right;}
.gradient{
	background:-moz-linear-gradient(top,#fff,#f8f8f8);
	background:-ms-linear-gradient(top,#fff,#f8f8f8);
	background:-webkit-linear-gradient(top,#fff,#f8f8f8);
	background:linear-gradient(top,#fff,#f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF,endColorStr=#f8f8f8");
	+background: #f9f9f9
}

#header{width:960px;height:30px;border-radius: 0 0 6px 6px;margin:0 auto;}
#nav{width:960px;height:100px;background-color: yellow;margin:0 auto;}
#searcher{width:960px;height:114px;border-radius: 6px;margin:0 auto;border:1px solid #ccc;margin-bottom:10px;}
#content{width:960px;height:2040px;margin:0 auto;}
#main{width:710px;}
#side{width:240px;margin:0 auto;}
.section{width:348px;height:100px;border-radius: 6px;border:1px solid #ccc;margin-bottom:10px;}
.options{width:348px;height:100px;border-radius: 6px;border:1px solid #ccc;margin-bottom:10px;}
.main-ad{width:710px;height:90px;margin-bottom:10px;}
.main-ad img{border-radius: 6px;}
.side-section{width:238px;height:100px;border: 1px solid #ccc;margin-bottom:10px;border-radius: 6px;}
.side-ad{width:238px;border:1px solid #ccc;margin-bottom:10px;border-radius: 6px}
.side-ad img{border-radius: 6px;}

#header .city { float:left; padding:5px 0 0 20px; color:#666; }

#header .city a { display:inline-block; padding:0 7px; height:18px; line-height:18px; color:#999; background:#fff; border:1px solid #e5e5e5; border-radius:4px; box-shadow:1px 1px 0 #ededed; }
#header .city .active,#header .city .active:hover { color:#d60d03; background:#fff; }
#header .city a:hover { background:#f1f1f1; }

#header .link{float:right;padding:0 30px 0 0;line-height:30px; color:#d5d5d5; word-spacing:4px;}
#header .link a { color:#666; background:url(img/header_link_bg.gif) no-repeat 0 3px; padding-left:20px; }
#header .link .ico1 { background-position:0 3px; }
#header .link .ico2 { background-position:0 -27px; }




